/*--------------------------------
pagination
---------------------------------*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      font-size: 1rem;
    }
  }
  a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:hover {
      opacity: 0.5;
    }
  }
  span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #aaa;
  }
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
}

.pagination .active span {
  background-color: #007bff;
  color: #fff;
}
