/*--------------------------------
TOPページ
---------------------------------*/
.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

// MV
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 370px;
}

.mvBox {
  padding: 0 40px;
}

.mvTitle {
  font-size: 3.6rem;
  font-family: Futura, sans-serif;
  line-height: 1.2;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.mvSubtitle {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
}

.mvText {
  font-size: 1.1rem;
  line-height: 1.8;
  padding: 0 10px;
}

// Contact
.contact {
  text-align: center;
}

.contactItem:not(:last-child) {
  margin-right: 10px;
}

.contactText {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

// スマホ表示
@media screen and (max-width: 767px) {
  .mv {
    min-height: 400px;
    padding-bottom: 20px;
  }
}
