/*--------------------------------
TOPページ
---------------------------------*/
.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.btn-more {
  width: 300px;
  text-align: center;
  margin: 60px auto 0;
  & > a {
    display: inline-block;
    display: block;
    background-color: #1b73e8;
    color: #fff;
    font-size: 18px;
    border: none;
    line-height: 1;
    border-radius: 5px;
    padding: 20px 40px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
    overflow: hidden;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      outline: none;
    }
    &::after {
      content: ">";
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 20px;
      margin-top: -1px;
    }
  }
}

// MV
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 370px;
}

.mvBox {
  padding: 0 40px;
}

.mvTitle {
  font-size: 3.6rem;
  font-family: Futura, sans-serif;
  line-height: 1.2;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.mvSubtitle {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
}

.mvText {
  font-size: 1.1rem;
  line-height: 1.8;
  padding: 0 10px;
}

// Contact
.contact {
  text-align: center;
}

.contactItem:not(:last-child) {
  margin-right: 10px;
}

.contactText {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

// スマホ表示
@media screen and (max-width: 767px) {
  .mv {
    min-height: 400px;
    padding-bottom: 20px;
  }
  .btn-more {
    width: 95%;
    margin: 40px auto 0;
  }
}
