/*--------------------------------
  Layout
---------------------------------*/
.layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px auto 0;
  padding: 0px 0 0 0;
}
.main {
  flex-basis: 100%;
  margin: 0px auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.two-column {
  max-width: 1350px;
  margin-bottom: 40px;
  padding-top: 40px;
  .main {
    flex-basis: 70%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 767px) {
  .two-column {
    .main {
      flex-basis: 100%;
    }
  }
}
