/*--------------------------------
 Works
---------------------------------*/
.works {
  font-size: 20px;
  padding-top: 40px;
  h2 {
    margin-bottom: 20px;
  }
}

.worksList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.worksItem {
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s;
  & > a {
    display: block;
    color: #333;
  }
}

.worksItem {
  width: 33.33%;
}

/* SP表示 */
@media screen and (max-width: 767px) {
  .worksItem {
    width: 100%;
    padding: 10px 10px 20px;
  }
}

.worksItem:hover {
  opacity: 0.5;
}

.worksItem li:nth-of-type(3n) {
  margin-right: 0;
}

.worksImg {
  position: relative;
  text-align: center;
  & > img {
    border: 1px solid #e6e6e6;
  }
}

.worksCategory {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.65);
  padding: 7px 10px;
  border-radius: 3px;
  line-height: 1;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
}

.worksName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 12px 0;
}

.worksTag {
  font-size: 1rem;
  display: flex;
  align-items: center;
  & > span {
    position: relative;
    font-size: 13px;
    padding-left: 22px;
    margin-right: 10px;
  }
}

.worksTag span::before {
  content: "";
  display: inline-block;
  background: url(/images/icon_tag.svg) 50% no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.publishedAt {
  margin-bottom: 7px;
  background: url(/images/icon_clock.svg) no-repeat 0 5px;
  background-size: 15px;
  padding-left: 22px;
  font-size: 1rem;
}

.selectWrapper {
  position: relative;
  max-width: 200px;
  margin: 0 20px 10px auto;
}

.selectWrapper select {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.selectWrapper select:hover,
.selectWrapper select:focus {
  border-color: #aaa;
  background-color: #fff;
  outline: none;
}

.selectIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  margin-top: 2px;
}

/*--------------------------------
 詳細ページ
---------------------------------*/
.worksDetail {
  background-color: #fff !important;
  padding-top: 0;
}
.article {
  .inner {
    margin: 0 60px;
  }
  .worksImg {
    max-width: 600px;
    margin: 0 auto 20px auto;
  }
  img {
    width: 100%;
    height: auto;
  }
  .articleText {
    font-size: 1rem;
    padding: 30px 0 20px 0;
    & > p {
      margin-bottom: 30px;
    }
  }

  strong {
    background: linear-gradient(transparent 92%, #ff8d27 0);
    font-weight: 700;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    margin: 20px 0;
    border-radius: 3px;
    code {
      padding: 20px 20px;
      border-radius: 5px;
      display: block;
      overflow-x: auto;
      background: #1d1f21;
      color: #c5c8c6;
      font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New,
        monospace;
    }
    .hljs-name,
    .hljs-title {
      color: #f0c674;
    }
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-quote,
    .hljs-section,
    .hljs-selector-class,
    .hljs-type {
      color: #de935f;
    }
    .hljs-bullet,
    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-tag {
      color: #81a2be;
    }
  }
}

/* SP表示 */
@media screen and (max-width: 767px) {
  .worksDetail {
    padding-top: 20px;
  }
  .article {
    .inner {
      margin: 0 20px;
    }
  }
  .selectWrapper {
    max-width: 95%;
    margin: 30px auto 20px auto;
  }
}
