/*--------------------------------
  Footer
---------------------------------*/
.inner {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.scrollButton {
  max-width: 1340px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto 10px auto;
  &:hover {
    opacity: 0.5;
  }
}
